h1 {
    font-size: 60pt;
    color: aqua;
    text-align: center;
    margin: 0px;
}
body {
    font-size: 12pt;
    color: #999;
    text-align: center;
    margin: 5px;
}
p {
    font-size: 18pt;
    color: #333;
    margin: 0px 20px;
}

table {
    margin: 20px;
}
table tr th {
    background-color: #999;
    color: #fff;
    text-align: left;
    padding: 3px 10px;
}
table tr td {
    background-color: #eee;
    color: #666;
    text-align: left;
    padding: 3px 10px;
}